<div class="card__comments">
  {{#if comments}}
  <div class="card__comments__comment">
    <img class="avatar avatar--small" src="https://scontent-arn2-1.xx.fbcdn.net/hprofile-xpf1/v/t1.0-1/p64x64/10403098_10154130178170620_4363752858042984307_n.jpg?oh=ace57511818a13a3cedfa8a3ccdb494c&amp;oe=575B2207">
    <div class="card__comments__comment__text">
      <p>
        <span class="card__comments__comment__name">Martin Lissmyr <span>· 15 mins ago</span></span>
        Åker alla Express eller? Gustaf & Gardenia - ska ni ta bussen?
      </p>
    </div>
  </div>
  <div class="card__comments__comment">
    <img class="avatar avatar--small" src="https://scontent-arn2-1.xx.fbcdn.net/hprofile-xlf1/v/t1.0-1/p64x64/12439003_10153434507361365_3369929485502870738_n.jpg?oh=893b36cf684860aa69d384974eb9e225&oe=57280ADC">
    <div class="card__comments__comment__text">
      <p>
        <span class="card__comments__comment__name">Gustaf Forsslund <span>· just now</span></span>
        Ja, vi tar bussen. Ses på Arlanda.
      </p>
    </div>
  </div>
  {{/if}}
  <div class="card__comments__new">
    <img class="avatar avatar--small" src="https://scontent-arn2-1.xx.fbcdn.net/hprofile-xpf1/v/t1.0-1/p64x64/10403098_10154130178170620_4363752858042984307_n.jpg?oh=ace57511818a13a3cedfa8a3ccdb494c&amp;oe=575B2207">
    <textarea class="input input--full" cols="5" rows="1" placeholder="Write comment..."></textarea>
  </div>
</div>
