<div class="participants">
  <img class="avatar avatar--small" src="https://scontent-arn2-1.xx.fbcdn.net/hprofile-xta1/v/t1.0-1/p100x100/11693924_1033736956676527_6406881436470284034_n.jpg?oh=21225f614f7a9d447679bccefa7d229f&oe=576A3521">
  <img class="avatar avatar--small" src="https://scontent-arn2-1.xx.fbcdn.net/hprofile-xpf1/v/t1.0-1/p64x64/10403098_10154130178170620_4363752858042984307_n.jpg?oh=ace57511818a13a3cedfa8a3ccdb494c&amp;oe=575B2207">
</div>
