.card {
  margin: 0 10px 10px 10px;
  border-radius: 5px;
  border: 2px solid darken($borderColor, 3%);
  border-radius: 5px;
}

.card__inner {
  background: white;
  border-radius: 4px;

  .card--suggestion & {
    background: $greenLight;
  }
}

.card__header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 15px 15px 25px 15px;
}

.card__date {
  margin: 0 0 10px 0;

  .subtle {
    color: $purple;
    .card--suggestion & {
      color: $green;
    }
  }
}

.card__date__time {
  font-weight: bold;
  color: $purple;

  .card--suggestion & {
    color: $green;
  }

}

.card__participants {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: auto;
  margin: -3px 0;

  .participants {
    float: right;
  }
}

.card__icon {
  display: inline-block;
  height: 55px;
  width: 55px;
  background: $purple;
  border-radius: 3px;
  padding: 7px;
  box-sizing: border-box;
  margin: 0 10px 0 0;
  flex-grow: 0;
  flex-shrink: 0;
  color: white;

  .card--suggestion & {
    background-color: $green;
  }

  svg {
    height: 100%;
    width: 100%;
    fill: currentColor;
  }
}

.card__heading {
  flex-basis: 100%;
  display: flex;
}

.card__heading__title {
  font-size: 30px;
  line-height: 33px;
  color: $textColor;
  font-family: $headingFont;
  font-weight: 600;
  padding-right: 50px;

  .card--suggestion & {
    color: $green;
  }

}

.card__heading__description {
  margin-top: 5px;
}

.card__suggestions {
  counter-reset: section;
  padding: 0 15px;
}

.card__suggestions__suggestion__add,
.card__suggestions__suggestion {
  border-top: 1px solid rgba(0, 0, 0, 0.05);
  padding: 15px 0;
}

.card__suggestions__suggestion {
  display: flex;
  flex-direction: row;
  counter-increment: section;
}

.card__suggestions__suggestion__title {
  flex-grow: 0;
  flex-shrink: 1;
  padding-left: 25px;
}

.card__suggestions__suggestion__vote {
  flex-grow: 1;
  flex-shrink: 0;
  text-align: right;
}

.card__suggestions__suggestion__vote__yes {
  color: $green;
  margin-right: 10px;
}

.card__suggestions__suggestion__vote__no {
  color: $red;
  margin-right: 10px;
}

.card__suggestions__suggestion__vote__done {
  color: $textColorMedium;
}

.card__suggestions__suggestion__link {
  font-size: 20px;
  left: -25px;
  position: relative;

  &:before {
    display: inline-block;
    width: 25px;
    color: $green;
    font-weight: bold;
    content: counter(section, upper-alpha) ". ";
  }
}

.card__suggestions__suggestion__votes {
  display: block;
  color: $textColorMedium;
}

.card__nuggets {
  padding: 0 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.card__nugget {
  margin: 0 0 15px 0;
  flex-basis: 33%;
  font-weight: 400;
}

.card__nugget__label {
  color: #999;
  text-transform: uppercase;
  margin: 0 0 2px 0;
  font-weight: 300;
}

.card__comments {
  border-top: 1px solid rgba(0, 0, 0, 0.05);
  padding: 15px;
  background: lighten(#CFD8DC, 15%);

  .card--suggestion & {
    background: darken($greenLight, 1%);
  }
}

.card__comments__new,
.card__comments__comment {
  display: flex;

  .avatar {
    margin-right: 7px;
    flex-grow: 0;
    flex-shrink: 0;
  }

  .input,
  .card__comments__comment__text {
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 1px;
  }
}

.card__comments__comment__text {
  p {
    line-height: 1.35;
    color: $textColorMedium;
    font-weight: 300;
  }
}

.card__comments__comment {
  margin: 0 0 15px 0;
}

.card__comments__comment__name {
  display: block;
  font-weight: bold;
  color: $green;
  margin: 0 0 2px 0;

  span {
    //color: $textColorLight;
    font-weight: normal;
  }
}
