.sticky-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: white;
  border-bottom: 2px solid $borderColor;
  transition: top .3s ease;

  [data-sticky-header="hidden"] & {
    top: -54px;
  }
}

.sticky-header__content {
  display: flex;
  max-width: 700px;
  margin: 0 auto;
  padding: 10px 0;
}

.sticky-header__tools {
  flex-grow: 0;
  flex-shrink: 1;
  text-align: right;
}
.sticky-header__date {
  flex-grow: 1;
  flex-shrink: 0;
  font-weight: 300;
  font-size: 20px;
  line-height: 33px;
  text-transform: uppercase;
}
